{% extends "layout.html" %}

{% block mainContent %}

  <p>
    <h1>Welcome to our crappy version of Eventbrite!</h1>
  </p>
  
  <p>
    <img id="image" src="http://cdn.meme.am/instances/54970821.jpg" width="230" height="250">
  </p>
  
  <p>If that person above is you, then this app was carefully crafted by The Random Group just for you! The Random Group, founded in 2015, is a startup with neither mission nor values, whose single intention is to find the next party. Oh, and to also master Agile techniques for the development of software.</p>

  <p>
    <h3>Our co-founders:</h3>
  </p>
  
  <div class="row">
    <span id="excitedcrocodile-name">Excited Crocodile</span>
    <img id="{{excitedcrocodile}}-headshot" src="https://lh4.googleusercontent.com/-3qR5mXfKEyo/VOInk7KtkNI/AAAAAAAAABo/LVhIX6dSJJE/w504-h612-no/15%2B-%2B1" width="250" height="300">
  </div>

  <div class="row">
    <span id="oknightingale-name">OK Nightingale</span>
    <img id="{{oknightingale}}-headshot" src="http://images.clipartpanda.com/nightingale-clip-art-1613914-nightingale.jpg">
  </div>
  
  <div class="row">
    <span id="smoggyherring-name">Smoggy Herring</span>
    <img id="{{smoggyherring}}-headshot" src="https://sketchedout.files.wordpress.com/2008/02/red-herring_color.jpg" width="250" height="250">
  </div>
  
{% endblock %}
