{% extends "layout.html" %}

{% block header %}
  <header>
    <img id="logo" src="https://www.dropbox.com/s/zni220ev79nxkvz/logo1.1.png?dl=1">
    <h1>The Team Random</h1>
  </header>
{% endblock %}

{% block mainContent %}
  <p>
    <h3>Welcome to our event page.</h3>
  </p>
  <p>
    <div class='row'>
      <img id="image" class="img-rounded" src="https://ahungryrunner.files.wordpress.com/2013/06/wpid-wine-cat-meme_thumb.png"
    </div>
    <div class='row'>
      <h3>Events:</h3>
    </div>
  </p>
  
  <div style="border: 1px solid black">
    {% include "fragments/events-list.html" %}
  </div>
  
  <p>
    Check out the <a href="/about">About us</a> page
    as well as the <a href="/events">Events</a> page.
  </p>
  <p>
    <a id="new" href="/events/new">Create a new event</a>
  </p>
  
   <!-- Load the Content Experiment JavaScript API client for the experiment -->
  <script src="//www.google-analytics.com/cx/api.js?experiment=yPX4hQ5aT5G6PobsvGLa2w"></script>
   
  <!-- Load the JQuery library -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
   
  <script>
  // Define JavaScript for each page variation of this experiment.
  var pageVariations = [
    function() {},  // Original: Do nothing. This will render the default HTML.
    function() {    // Variation 1: add RSVP text
      $( 'li.event' ).prepend( 'RSVP ' );
    }
  ];
   
  // Wait for the DOM to load, then execute the view for the chosen variation.
  $(document).ready(function(){
    // Ask Google Analytics which variation to show the user.
    var chosenVariation = cxApi.chooseVariation('yPX4hQ5aT5G6PobsvGLa2w');
    
    console.log('chosenVariation =', chosenVariation);
   
    // Execute the chosen view
    pageVariations[chosenVariation]();
    
  });
  </script>
  
{% endblock %}